  
.vscomp-option {
  height: 180px !important;
}


.booksearch {

}


.booksearch__img {
  margin-right: 0.4rem;
}

.booksearch__title {
  margin-left: 0.4rem;
  font-size: 1.3rem;
  font-weight: 600;
}